fastapi==0.100.0
uvicorn[standard]==0.23.2
gunicorn==21.2.0
pikepdf==8.4.0
pydantic==2.4.0
prometheus-client==0.17.0
python-dotenv==1.0.0
pytest==7.4.0
pydantic-settings==2.0.3
python-multipart==0.0.6 